<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>음성 파일 방식 선택</title>
    <link rel="stylesheet" th:href="@{/styles/css/main.css}" />
</head>
<body>
    <div class="bodyContent">
        <h1>음성 파일을 방식을 정해주세요 !</h1>
        <div class="voiceContents">
            <div>아이콘</div>
            <p>미리 녹음한 파일을 업로드 하여 자료를 만들어요 !</p>
            <div class="voiceContent">
                <h1>녹음된 파일</h1>
                <a th:href="@{/file}"><button id="uploadButton" class="fileButtton">녹음 파일 첨부하기</button></a>
            </div>
        </div>
        <div class="voiceContents">
            <div>아이콘</div>
            <p>지금 녹음 버튼을 눌러 생생한 강의를 녹음하세요 !</p>
            <div class="voiceContent">
                <h1>새로 녹음하기</h1>
                <a><button onclick="location.href='/rec'" class="fileButtton">지금 녹음하기</button></a>
            </div>
        </div>
    </div>
</body>
</html>